{
  "presets": [
    "stage-0",
    "es2015",
    "react"
  ],
  "plugins": [
    ["contracts", {
      "env": {
        "production": {
          "strip": true
        }
      }
    }],
    ["trace", {strip: true}],
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ],
  "passPerPreset": true
}